/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

/* HEADER */
header {
    background-color: white;
    padding: 15px 20px;
}
#main-logo {
    vertical-align: middle;
}
h1 {
    display: inline-block;
    vertical-align: middle;
}


/* MAIN */
main {
    width: 70%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
}
.container {
    margin: 0 30px;
}


/* button section */
.button-section {
    padding: 10px 0;
    border-bottom: 2px solid #F4F6F7;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#add-task {
    border: 0px;
    background-color: #46ACF0;
    color: white;
}
#add-section {
    border: 1px solid #C6CCD1;
    background-color: white;
    color: #C6CCD1;
}